# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Entornos virtuales
.env
.venv
venv/
ENV/
env/

# Archivos de configuración sensibles
.env.*
*.env

# Archivos de distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/
*.egg

# Logs
*.log

# Archivos de base de datos
*.sqlite3
db.sqlite3

# Archivos de pruebas / cobertura
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Archivos de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos temporales
*.swp
*.swo
*~

# Docker
*.pid


macuin/